*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #19e407;
    background-image: url("../images/pexels-davidpickup-10930708.jpg");
    background-size:cover;
    padding-bottom: 20px;
}
.form-usuario{
    margin: 20px;
    height: 400px;
    width: 80%;
    max-width: 646px;
    background-color: #333333ec;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-usuario h1{
    margin: 20px;
    text-align: center;
}

.form-usuario input{
    padding: 15px;
    background-color: #333333ec;
    border: 0;
    border-bottom: 2px solid #FAF9F6;
    color: #FAF9F6;
    
}


.form-usuario .usuario{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.form-usuario .usuario input:hover{
    background-color: #4b4747;
}

.form-usuario .contraseña input:hover{
    background-color: #4b4747;
}



.form-usuario label{
    width: 100%;
    text-align: left;
    font-size: 1.15rem;
    margin-bottom: 5px;
}

.form-usuario .contraseña{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.form-usuario button{
    width: 60%;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: #19e407;
    color: #333;
    padding: 10px;
}

footer{
    height: auto;
}

@media (min-width: 680px) {
    
    header nav .buscar{
        width: 30%;
    }

    header nav .logo .imagen-centro{
        display: block;
        height: 80%;
    }

    .form-usuario{
        height: 550px;
        width: 70%;
    }
    .form-usuario label{
        font-size: 1.2rem;
        margin: 15px;
        margin-left: 0;
    }
}