*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 1rem;
    background-color: #FAF9F6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* comienza header */
header{
    height: 50px;
    background-color: #19e407;
}

header nav{
    display: flex;
    justify-items:flex-end;
    height: 100%;
}

header .buscar{
    width: 30%;
    display: flex;
    align-items: center;
}

header .buscar .imagen{
    display: none;
}

header .buscar svg{
    width: 50%;
}
header nav .logo .buscardor{
    display: none;
}
header nav .logo .buscardor input{
    width: 90%;
}

header nav .logo{
    width: 45%;
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 

}
header nav .logo .imagen-centro{
    width: 25%;
    height: 80%;
    text-align: center;
    justify-content: center;
}
header nav .logo .imagen-centro img{
    image-rendering: auto;
}


header nav .logo img{
    width: 100%;
    height: 100%;
}

header nav .item_nav{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header .item_nav svg,a{
    width: 50%;
    
}

header .item_nav a svg{
    width: 100%;
    align-content: center;
    color:black;
}
/* termina header --------------------------------*/

.anuncios{
    width: 100%;
    height: 100%;
    /* width: 100vw; */
    
}

.anuncios #carouselExampleAutoplaying{
    box-sizing:border-box;
}
.anuncios #carouselExampleAutoplaying img{
    /* width: 100%; */ /* El ancho que desees, en este caso 100% del contenedor */
    /* height: 100%; */ /* Ajusta la altura a la medida que prefieras */
    overflow:visible; /* Para evitar que las imágenes desborden el contenedor */
}

/* DESTADOS------------------------------------------ */
/* catergorias por escudo */
.categorias-tendencia{
    width: 100%;
    /* width: 100vw; */
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333;
}
.categorias-tendencia .tendencia{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 3%;
    box-shadow: 5px 5px 10px rgba(17, 14, 14, 0);
}
.categorias-tendencia .tendencia :hover{
    width: 70px;
    height: 70px;
    cursor: pointer;
}




.categorias-tendencia .tendencia img{
    width: 100%;
    height: 100%;
}

/*-------------------  */

.destacados{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    gap: 2px;
    background-color:  #FAF9F6;
    
}
.destacados h2{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2.2rem;
    background-color: #FAF9F6;
}

.destacados .camiseta{
    width: 48%;
    max-width: 215px;
    border: 2px solid #333;
    box-sizing:border-box;
    overflow: hidden;

}
.destacados .camiseta:hover{
    cursor: pointer;
}

.destacados .camiseta img{
    margin: 10px;
    width: 90%;
    height: 50%;
}

.camiseta h2,h3{
    text-align: left;
    padding-left: 10px;
}
.camiseta h2{
    font-size:1.2rem;
}
.camiseta h3{
    font-size: 1.5rem;
}

.camiseta p{
    margin: 0;
    padding: 0;
    height: auto;
}

.camiseta form{
    margin: 5px;
}

.camiseta form #Comprar{
    padding: 5px;
    color: white;
    background-color: blue;
    border-radius: 5px ;
}
.camiseta form #Ver{
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 5px ;
}

/*  FIN DESTADOS------------------------------------------ */

.categorias-principales{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-top: 15px;
    background-color: #FAF9F6;
}

.categorias-principales .categoria-prendas23-24, .categoria-prendas-vintage, .categoria-todos{
    position: relative;
    display:flex;
    align-items: center;
    text-align: center;
    font-size: medium;
    width: 35%;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

.categorias-principales .categoria-prendas23-24 h3, .categoria-prendas-vintage h3, .categoria-todos h3{
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 1; /* Asegura que el texto esté por encima de la imagen de fondo */
    background-color: rgba(0, 0, 0, 0.3); /* Fondo negro semitransparente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra del texto */

}

.seccion-nombre{
    width: 100%;
    padding: 3px;
    height: auto;
}

.categoria-prendas23-24{
    background-image: url("../images/23-24.webp");
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más grande y definida */
    

}

.categoria-todos{
    background-image: url("../images/todos.webp");
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.categoria-prendas-vintage{
    background-image: url("../images/retro.webp");
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}    


.categorias-unicas{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
}

.categorias-unicas h2{
    width: 100%;
}
.categorias-unicas ul h3{
    width: 100%;
}

.categorias-unicas ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categorias-unicas ul li{
    font-size: small;
}

/* promociones----------- */

.promociones{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
    width: 100%;
    height: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.promociones h2{
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    
}

.promociones .camiseta-promocion{
    width: 100%;
    height: 200px;
    border: 2px solid #696868;
    margin: 2.5px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}



.promociones .camiseta-promocion img{
    margin: 5px;
    height: 100%;
    width: 40%;
}


.promociones .camiseta-promocion h2{
    width: 55%;
    /* height: 30px; */
    margin-top: 20px;
    text-align: left;
    text-wrap: wrap;

    font-size: 1.5rem;
}

.promociones .camiseta-promocion .descuento{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    width: 60%;
    box-sizing: border-box;
    overflow: hidden;
}

.promociones .camiseta-promocion .descuento{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.promociones .camiseta-promocion .descuento h3{
    width: 90%;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
}

.promociones .camiseta-promocion .descuento span{
    margin: 5px;
    padding: 3px;
    text-decoration: line-through;
}

#numero-descuento{
    padding: 3px;
    color: white;
    background-color: blue;
    text-decoration: none
}

#envio-texto{
    padding: 0;
    margin-top: 5px;
    text-align: center;
    width: 30%;
    background-color: rgb(143, 243, 143);
    color: rgb(4, 68, 4);
    border-radius: 10px;
}


/* -------------- */






footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    background-color: rgb(33, 119, 33);
    color: white;
}


footer .redes{
    width: 100%;
    text-align: right;
    color: white;
    margin: 10px;
}
footer .redes a img{
    color: white;
}

footer .nav-footer{
    width: 100%;
}

footer .nav-footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    padding: 0;
}

footer .nav-footer ul li{
    display: inline;
    margin: 10px;
}

footer p{
    width: 100%;
    text-align: center;
    border-top: 1px solid #FAF9F6;
    margin: 2px;
}


@media ((min-width : 680px)) {
    
    body{
        font-size: 1.3rem;
    }

    header{
        height: 70px;
    }

    header .item_nav a svg{
        height: 25px;
    }
    header .item_nav svg{
        height: 25px;
    }
    

    header .buscar svg{
        height: 25px;
        width: 50%;
    }

    header .buscar #lupa{
        display: none;
    }


    header nav .logo .buscardor{
        display:inline;
    }
    header .logo .imagen-centro{
        display: none;
    }
    
    header nav .buscar{
        width: 30%;
    }
    header nav .logo{
        width: 45%;
    }

    header nav .logo .buscardor{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .buscardor button svg{
        width: 100%;
        background-color: #FAF9F6;
    }
    .buscardor button{
        width: 10%;
        border: 2px solid #FAF9F6;
        background-color: #FAF9F6;
        margin: 0;
        padding: 0;
    }

    .buscardor input{
        border: 2px solid #FAF9F6;
        background-color: #FAF9F6;
        margin: 0;
        padding: 0;
    }

    .buscar .imagen{
        width: 50%;
    }

    .buscar .imagen{
        display: inline;
        width: 50%;
        height: 100%;
        text-align: left;
        justify-content: center;
    }

    .buscar .imagen a{
        text-decoration: none;
        padding: 0;
        margin: 0;
        
    }
    .buscar .imagen a img{
        margin-top: 10px;
        width: 50%;
        height: 80%;
    }


    .categorias-tendencia{
        width: 100%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        background-color: #333;
    }
    
    .categorias-tendencia .tendencia{
        width: 50px;
        height: 50px;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(17, 14, 14, 0.089);
    }
    
    .categorias-tendencia .tendencia img{
        width: 100%;
        height: 100%;
    }

    .categorias-tendencia
    
    .destacados{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
        
        gap: 3px;
        background-color:  #FAF9F6;
        
    }
    .destacados h2{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 2.5rem;
        background-color: #FAF9F6;
    }
    
    .destacados .camiseta{
        margin: 2.5px;
        margin-bottom: 10px;
        border: 2px solid #333;
        box-sizing:border-box;
        overflow: hidden;
    }
    
    
    .destacados .camiseta img{
        margin: 10px;
        width: 90%;
        height: 50%;
    }
    
    .camiseta h2,h3{
        text-align: left;
        padding-left: 10px;
    }
    .camiseta h2{
        font-size:1.2rem;
    }
    .camiseta h3{
        font-size: 1.5rem;
    }
    
    .camiseta p{
        margin: 0;
        padding: 0;
        height: auto;
        font-size: 1rem;
    }
    

    .categorias-principales{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        margin-top: 15px;
        background-color: #FAF9F6;
    }
    
    .categorias-principales .categoria-prendas23-24, .categoria-prendas-vintage, .categoria-todos{
        position: relative;
        display:flex;
        align-items:center;
        text-align: center;
        font-size: medium;
        width: 35%;
        height: 200px;
        border-radius: 10px;
        margin: 20px;
        color: white;
    }
    
    .promociones{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        text-align: center;
        width: 100%;
        height: 30%;
        margin-top: 15px;
        margin-bottom: 15px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .promociones h2{
        font-size: 2.5rem;
    }
    
    .promociones .camiseta-promocion{
        width: 218px;
        height: 400px;
        flex-direction:row;
        justify-content:flex-start;

    }
    
    .promociones .camiseta-promocion img{
        margin: 10px;
        height: 50%;
        width: 90%;
        text-align: center;
    }


    .promociones .camiseta-promocion h2{
        width: 100%;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        text-align: left;
        text-wrap: wrap;
        font-size: 1.2rem;
    }

    .promociones .camiseta-promocion .descuento{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .promociones .camiseta-promocion .descuento h3{
        width: 100%;
        text-align: left;
        margin: 0;
        padding-left: 10px;
        font-size: 1.4rem;
    }

    .promociones .camiseta-promocion .descuento span{
        margin: 0;
        padding: 5px;
        margin-left: 10px;
        height: 20px;
        font-size: 1rem;
        text-decoration: line-through;
        box-sizing: content-box
        }      

    #numero-descuento{
        padding: 5px;
        justify-content: center;
        color: white;
        background-color: blue;
        text-decoration: none;
        box-sizing: content-box;
        
        }

    #envio-texto{
        text-align: center;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 60%;
        font-size: 1rem;
    }

    footer{
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .categorias-principales .categoria-prendas23-24, .categoria-prendas-vintage, .categoria-todos{
        width: 25%;
        height: 400px;    
    }
}